# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

temp

**/certboot

nohup.out

server/__pycache__
**/myenv
# **/.env
/nohup.out


server/.env
service/.env
client/.env
.env

.venv

mongo_db/data/
milvus/volumes/
milvus/scripts/data/

# Editor directories and files
.vscode/*
client/.vscode/*
client/environment.yml
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Models files
service/models/phobert_queryrouting