<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mã Xác Minh</title>
    <style>
      /* STYLE_PLACEHOLDER */
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Mã Xác Minh</h1>
      </div>
      <div class="content">
        <p>Xin chào bạn, <!--NAME--></p>
        <p>Cảm ơn bạn đã đăng kí tài khoản tại hệ thống UniBot. Đây là mã xác minh của bạn:</p>
        <div class="otp"><!--VERIFICATION--></div>
        <p>Vui lòng sử dụng mã này trong vòng <strong>10 phút</strong>. Nếu bạn không thể thực hiện yêu cầu này, bạn có thể liên hệ với chúng tôi để được hỗ trợ.</p>
        <p>Trân trọng,</p>
        <p><strong>Dự Án UniBot - Thử nghiệm</strong></p>
      </div>
      <div class="footer">
        <p>Đây là email tự động, vui lòng không trả lời email này.</p>
        <p>Nếu bạn cần hỗ trợ, vui lòng liên hệ: mvkiet21@clc.fitus.edu.vn</p>
      </div>
    </div>
  </body>
</html>