<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mã Xác Minh</title>
    <style>
      /* STYLE_PLACEHOLDER */
    </style>
  </head>
    <body>
      <div class="container">
          <div class="header">
              <h1>Khôi phục tài khoản</h1>
          </div>
          <div class="content">
              <p>Xin chào bạn, <!--NAME--></p>
              <p>Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Đây là mã xác minh:</p>
              <div class="otp"><!--VERIFICATION--></div>
              <p>Hãy dùng mã xác minh này để cập nhật lại mật khẩu bạn muốn trong <strong>10 phút</strong> hiệu lực</p>
              <p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng liên hệ với chúng tôi ngay lập tức để bảo vệ tài khoản.</p>
              <p>Trân trọng,</p>
              <p><strong>Dự Án UniBot HCMUS - Thử nghiệm</strong></p>
          </div>
          <div class="footer">
              <p>Đây là email tự động, vui lòng không trả lời email này.</p>
              <p>Nếu bạn cần hỗ trợ, vui lòng liên hệ: mvkiet21@clc.fitus.edu.vn</p>
          </div>
      </div>
  </body>
</html>