<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Verification Code</title>
    <style>
        /* STYLE_PLACEHOLDER */
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Verification Code</h1>
    </div>
    <div class="content">
        <p>Hello, <!--NAME--></p>
        <p>Thank you for registering an account on the UniBot system. Here is your verification code:</p>
        <div class="otp"><!--VERIFICATION--></div>
        <p>Please use this code within <strong>10 minutes</strong>. If you are unable to complete this request, you can contact us for support."</p>
        <p>Best regards,</p>
        <p><strong>UniBot Project- Trial version</strong></p>
    </div>
    <div class="footer">
        <p>This is an automated email, please do not reply to this email.</p>
        <p>If you need support, please contact: UNIBOT2025@gmail.com</p>
    </div>
</div>
</body>
</html>